$fuente: "Roboto", Arial
$main: #044772
$secondary: #055d94
*
	margin:0
	padding:0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
body
	font-family:$fuente
	padding-top: 20px
	background: #FFFFFF
	padding-bottom: 0
.contenedor
	width:100%
	margin-top:-20px
	min-height:100%
	div
		display: block
.top
	width: 100%
	height:200px
	text-align:center
	background: #044772
	padding-top:10px
	color:white
	font-size:40px
	padding-bottom:30px	
.escudo
	margin: auto
	width: 130px
	height: 130px
.bott
	width: 100%
	text-align: center
	height: 471px
	padding-top: 90px
	-webkit-box-shadow: 1px 15px 17px -1px rgba(0,0,0,0.75)
	-moz-box-shadow: 1px 15px 17px -1px rgba(0,0,0,0.75)
	box-shadow: 1px 15px 17px -1px rgba(0,0,0,0.75)
.material-icons.media
	@media screen and (max-width: 800px)
		font-size: 70px
		margin-left:20px
		margin-top: -19px
form.signin
	width: 50%
	margin:auto
	border: 0
	input[type="text"],
	input[type="password"],
	input[type="submit"],
		width: 50%
		height: 40px
		margin-bottom:18px
		border: 1px solid #01579B
		&:focus,
			outline: 1px solid white
		@media screen and (max-width: 800px)
			width: 75%;
	input[type="text"],
	input[type="password"],
		background: #055d94
		padding: 10px
		font-size: 16px
		color: white
	input[type="submit"],
		background:#044772
		border-radius:0
		color: white
		cursor:pointer
		font-size: 16px
.link
	color: white
	a
		text-decoration:none
		color: #FFFF00
.contenedor
	div
		display: block

footer
	@media screen and (max-width: 800px )
		padding-bottom:0
	background: #044772
	z-index: -1
	postition: absolute
	bottom: 0px
	font-size: 18px
	color: #FFFFFF
	cursor: pointer
	.uno
		@media screen and (max-width: 800px)
			p
				display: none
		width: 35%
		float: left		
		height: 150px
		padding-top: 30px
		color: #FFFFFF
		img
			height: 60px
			width: 58px
			margin: auto
			margin-left: 50px
		tr
			text-align: center
		td
			padding-left: 10px
	.dos
		@media screen and (max-width: 800px)
			p
				display: none
		width: 30%
		margin: auto		
		height: 150px
		td
			padding-top: 48px	
			padding-left: 10px
		p
			margin-right: 10px
	.tres
		.material-icons.orange600 
			color: #FB8C00
		@media screen and (max-width: 800px)
			p
				display: none			
		width: 35%
		float: right		
		height: 150px
		margin-top: -150px
		padding-top: 30px
		color: #FFFFFF
		img
			height: 60px
			width: 45px
			padding-left:-40px
			margin: auto
			margin-left: 50px
		tr
			text-align: center
		.input
			margin-right:30px
::-webkit-input-placeholder
  color: #FFFFFF
#derechos
  	font-size: 14px
  	padding-left:100px
  	margin-top: 10px
  	p
  		margin-top: -15px
  		margin-left:9px
nav
	i
		display: block
nav.menu
	left: 0
	height: 100%
	background: red
	width: 70px
.menu div.core
	color: white
	margin-top: 12px
	& div
		display: block
		padding: 20px
